<% if @products.present? %>
  <div class="autoscroll">
  <table>
    <caption> Список товаров на складе </caption>
    <thead>
      <tr>
        <th> № п/п </th>
        <th> Наименование </th>
        <th> Стоимость </th>
        <th> Кол-во </th>
        <th> Дата производства </th>
        <th> Номер задачи </th>
      </tr>
    </thead>    
    <tbody>
      <% @products.each_with_index do |product, index| %>
  	    <tr> 
  	      <td> <%= index + 1 %> </td>
  	      <td> <%= product.name %> </td>
  	      <td> <%= product.quantity %> </td>
  	      <td> <%= product.cost %> </td>
  	      <td> <%= product.manufacture_date.present? ? product.manufacture_date.strftime('%d.%m.%Y') : 'не указана' %> </td>
  	      <td> <%= product.ussue.tracker_id if product.issue.present?%> </td>
  	    </tr>	
      <% end %>
    </tbody>
  </table>
  </div>
<% else %>
  <h3> товаров нет </h3>  
<% end %>    





